.Navbar {
  font-weight: 400;
  nav {
    height: 70px !important;
  }
  .NavbarBrand {
    background: url("../../assets/images/midburn_logo.svg");
    background-size: 70px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: -10px 50%;
    color: black !important;
    cursor: pointer;
  }
  margin-bottom: 2vh;
  .nav-home-btn {
    cursor: pointer;
  }
  li {
    transition: 0.3s;
    a {
      transition: 0.3s;
    }
  }
  .right-nav {
    padding: 0 3vw;
  }
}
