@import "../../styles/colors";
@import "../../styles/vars";

.BarChartCard {
  
  border: 0;
  box-shadow: $card-shadow;
  .chart-container {
    min-width: 300px;
    min-height: 170px;
    padding: 2rem 3rem;
    overflow-x: auto;
    min-width: 100%;
    width: max-content;
  }
    .bar-container {
      display: flex;
      flex-direction: column;
      .data-area {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        .data-container {
          height: 100%;
          width: 2rem;
          border-radius: 8px;
          display: flex;
          flex-direction: column-reverse;
          .data-value {
            border-radius: 8px;
            width: 100%;
            background-color: $blue;
          }

        }
      }
      .data-number {
        position: absolute;
        width: 2rem;
        height: 1rem;
        top: 40%;
        left: 3rem;
        font-size: 0.85rem;
      }
      .title-area {
        height: 20%;
        display: flex;
        justify-content: center;
      }
    }
}