@import '../../styles/colors';

:local(.NumberCounter) {
  width: 100%;
  max-width: 7rem;
  display: flex;
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    width: 66%;
    border: none;
    outline: none;
    text-align: center;
    color: $blue;
    font-weight: 600;
    min-width: 1.5rem;
    &:focus {
      outline: none;
    }
    background: transparent;
  }
  .handle {
    color: $gray;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    border: 1px solid $light-gray;
    transition: 0.5s;
    &[disabled] {
      z-index: 0;
      opacity: 0.2;
      pointer-events: none;
    }
  }
}