@import "../../styles/colors";

.SearchInput {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $light-gray;
  padding: 0.1rem 0.8rem;

  svg {
    margin-left: 10px;
  }

  input {
    border: none;
    font-family: FontAwesome, sans-serif;
    flex: 1;

    &:focus {
      outline: none;
    }
  }
}
