.TableSummeryContainer {
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    background-color: white;
    height: 77px;
    z-index: 2;
    .TableSummery {
        border-radius: 0;
        width: 100%;
        .SummeryContent {
            max-height: 12vh;
            font-weight: 600;
            overflow-y: hidden;
            overflow-x: auto;
            width: 100%;
        }
    }
    .SummeryActions {
        align-self: end;
    }
}
