.TableSummeryContainer {
    position: relative;
    width: 100%;
    transition: 0.5s;
    .TableSummery {
        .SummeryContent {
            max-height: 12vh;
            overflow-y: hidden;
            overflow-x: auto;
            width: 100%;
        }
    }
}
