@import "./styles/_colors.scss";
body {
  height: 100%;
  background: url("assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
  width: 100%;
}

#root, .App, .Layout {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: $yellow;
  outline: 1px solid $yellow;
  border-radius: 100px;
}

.MainPanel {
  transition: 0.8s;
  min-height: 100vh;
  padding-top: 16vh;
  padding-bottom: 16vh;
}


.disabled {
   pointer-events: none;
   opacity: 0.3 !important;
 }