body {
  height: 100vh;
  overflow-y: hidden;
}

body::after {
  content: "";
  background: url("assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#root, .App, .Layout {
  height: 100%;
}

.clickable {
  cursor: pointer;
}